*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Arial, sans-serif;
background:#0f172a;
color:white;
}


/* SIDEBAR */

.sidebar{
width:220px;
height:100vh;
background:#020617;
position:fixed;
padding:20px;
}

.sidebar h2{
color:#3b82f6;
margin-bottom:20px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:10px;
margin-top:10px;
border-radius:6px;
transition:0.2s;
}

.sidebar a:hover{
background:#1e293b;
}


/* MAIN CONTENT */

.main{
margin-left:240px;
padding:30px;
}


/* DASHBOARD CARDS */

.cards{
display:flex;
flex-wrap:wrap;
gap:20px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:12px;
width:350px;
line-height:1.6;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.card:hover{
transform:translateY(-3px);
box-shadow:0px 4px 10px rgba(0,0,0,0.4);
}


/* INPUT FIELDS */

input, select{
padding:10px;
border-radius:6px;
border:none;
margin:5px;
width:250px;
background:#1e293b;
color:white;
outline:none;
}

input::placeholder{
color:#94a3b8;
}


/* BUTTON */

button{
background:#2563eb;
color:white;
padding:10px 20px;
border:none;
border-radius:6px;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#1d4ed8;
}


/* TABLES */

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
background:#1e293b;
border-radius:8px;
overflow:hidden;
}

th{
background:#020617;
padding:12px;
}

td{
padding:10px;
text-align:center;
border-bottom:1px solid #0f172a;
}

tr:nth-child(even){
background:#0f172a;
}


/* CHART AREA */

canvas{
background:white;
padding:20px;
margin-top:20px;
border-radius:10px;
}


/* LOGIN PAGE */

.login-body{
background:#0f1a2b;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;
}

.login-box{
background:#1c2b45;
padding:40px;
border-radius:10px;
width:300px;
text-align:center;
box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

.login-box h2{
color:white;
margin-bottom:25px;
}

.login-box input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:6px;
background:#2b3d5e;
color:white;
}

.login-box button{
width:100%;
padding:12px;
margin-top:15px;
border:none;
border-radius:6px;
background:#4a8cff;
color:white;
font-size:16px;
cursor:pointer;
transition:0.2s;
}

.login-box button:hover{
background:#2f6fe0;
}


/* LOGOUT BUTTON */

.logout-btn{
width:90%;
margin:20px auto;
padding:10px;
background:#ff4d4d;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
transition:0.2s;
}

.logout-btn:hover{
background:#e63c3c;
}
.day:hover{
transform:scale(1.05);
background:#334155;
}
.day:hover{
transform:scale(1.05);
transition:0.15s;
}