body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.sidebar{
width:220px;
height:100vh;
background:#020617;
position:fixed;
padding:20px;
}

.sidebar h2{
color:#3b82f6;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:10px;
margin-top:10px;
border-radius:6px;
}

.sidebar a:hover{
background:#1e293b;
}

.main{
margin-left:240px;
padding:30px;
}
.card{
background:#1e293b;
padding:20px;
margin:10px;
border-radius:10px;
display:inline-block;
width:200px;
}
input{
padding:10px;
border-radius:6px;
border:none;
margin:5px;
width:250px;
}

button{
background:#2563eb;
color:white;
padding:10px 20px;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}
.cards{
display:flex;
flex-wrap:wrap;
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:180px;
text-align:center;
}

canvas{
background:white;
padding:20px;
margin-top:20px;
border-radius:10px;
}